.realtors {
  background-color: $color-secondary;
  grid-column: 9 / -1;
  padding: 3rem;

  // Center
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 2rem;

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 1.8rem;
    grid-row-gap: 5vh;
    align-items: center;
  }

  &__img {
    width: 7rem;
    border-radius: 50%;
    display: block;
  }

  &__details {
  }

  .heading--light {
    color: $color-grey-light-1;
  }

  &__sold {
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -3px;
  }
}
