.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  display: flex;
  justify-content: center;

  @media only screen and (max-width: $lg) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
}

.nav-button {
  display: block;
  border: none;
  border-radius: 0;
  margin-top: 4rem;

  background-color: #fff;
  height: 2px;
  width: 4.5rem;

  &::before,
  &::after {
    content: "";
    display: block;
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
  }

  &::before {
    transform: translateY(-1.5rem);

    @media only screen and (max-width: $lg) {
      transform: translateY(-1.2rem);
    }
  }

  &::after {
    transform: translateY(1.3rem);

    @media only screen and (max-width: $lg) {
      transform: translateY(1rem);
    }
  }

  @media only screen and (max-width: $lg) {
    margin-top: 2.7rem;
    margin-left: auto;
    margin-right: 3rem;
  }
}
